@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
// Noto Sans CJK KR Regular
//font-family: noto-sans-cjk-kr, sans-serif;
html,
body {
  height: 100%;
  box-sizing: border-box;
  transition: all .2s ease-in;
}

